<h1>Chapter 4: Indexing and Selecting</h1>

First we import the standard <em>numpy</em> and <em>pandas</em> modules.

In [35]:
import numpy as np
import pandas as pd

from IPython.display import *

Create a time series of crude oil spot prices for the 4 quarters of 2013, taken from IMF data:

In [36]:
SpotCrudePrices_2013_Data={
                'U.K. Brent' : {'2013-Q1':112.9, '2013-Q2':103.0, '2013-Q3':110.1, '2013-Q4':109.4},
                'Dubai':{'2013-Q1':108.1, '2013-Q2':100.8, '2013-Q3':106.1,'2013-Q4':106.7},
                'West Texas Intermediate':{'2013-Q1':94.4, '2013-Q2':94.2, '2013-Q3':105.8,'2013-Q4':97.4}}
                
SpotCrudePrices_2013=pd.DataFrame.from_dict(SpotCrudePrices_2013_Data)
SpotCrudePrices_2013

         Dubai  U.K. Brent  West Texas Intermediate
2013-Q1  108.1       112.9                     94.4
2013-Q2  100.8       103.0                     94.2
2013-Q3  106.1       110.1                    105.8
2013-Q4  106.7       109.4                     97.4

Select the prices for the available time periods of Dubai crude using the [] operator:

In [37]:
dubaiPrices=SpotCrudePrices_2013['Dubai']; dubaiPrices

2013-Q1    108.1
2013-Q2    100.8
2013-Q3    106.1
2013-Q4    106.7
Name: Dubai, dtype: float64

In [38]:
dubaiPrices1=SpotCrudePrices_2013[['Dubai']]; display(dubaiPrices1)

         Dubai
2013-Q1  108.1
2013-Q2  100.8
2013-Q3  106.1
2013-Q4  106.7

Select the columns in a particular order:

In [39]:
SpotCrudePrices_2013[['West Texas Intermediate','U.K. Brent']]

         West Texas Intermediate  U.K. Brent
2013-Q1                     94.4       112.9
2013-Q2                     94.2       103.0
2013-Q3                    105.8       110.1
2013-Q4                     97.4       109.4

### Jesse comment  in  index
- Why index forsample 1, pd ok, but not
- SpotCrudePrices_2013

In [70]:
# Jesse test to index,
df = pd.DataFrame(
    np.random.randn(1000000, 3), 
    columns=list('ABC'), 
    index=pd.DatetimeIndex(start='2015-1-1', freq='10s', periods=1000000)
)
display(df['2015-2-1']) 
# why df and dubaiPrices OK
# but SpotCrudePrices_2013['2013-Q1'] not work
display(df[df.index == '2015-2-1'])

                            A         B         C
2015-02-01 00:00:00  0.708854  1.222171  0.806216
2015-02-01 00:00:10  0.466945 -2.832934 -0.266675
2015-02-01 00:00:20  1.716751 -0.370876  0.553547
2015-02-01 00:00:30  1.143267 -1.714554  1.001881
2015-02-01 00:00:40 -0.895583 -0.008900  1.455289
2015-02-01 00:00:50 -0.644983  1.605957 -1.462097
2015-02-01 00:01:00 -0.240153 -0.316187 -1.028674
2015-02-01 00:01:10 -0.281906 -1.033123 -1.607641
2015-02-01 00:01:20  0.904249  1.205047 -0.026542
2015-02-01 00:01:30 -1.771808 -0.050702 -2.622578
2015-02-01 00:01:40  1.161010  0.134007  1.778222
2015-02-01 00:01:50  0.269582 -1.468617  1.315500
2015-02-01 00:02:00  1.075090 -1.453005 -0.878235
2015-02-01 00:02:10 -2.200542  0.343406 -0.208387
2015-02-01 00:02:20  0.413289 -1.696259 -0.540514
2015-02-01 00:02:30 -0.558971 -0.529578 -0.137210
2015-02-01 00:02:40  0.304042  0.489761 -0.307263
2015-02-01 00:02:50  0.364893  1.115611  1.548004
2015-02-01 00:03:00 -0.527199  0.001163  0.556011
2015-02-01 00:03:10  0.465878 -1.339284 -0.090497
2015-02-01 00:03:20  0.266186 -0.176271 -0.170656
2015-02-01 00:03:30 -0.492343 -1.367949  1.536758
2015-02-01 00:03:40 -1.126074 -1.539792  0.598247
2015-02-01 00:03:50  1.151039  1.923685 -0.419345
2015-02-01 00:04:00  1.036860  0.730157  1.159633
2015-02-01 00:04:10 -0.213734 -0.041144 -0.732850
2015-02-01 00:04:20  1.415368  0.279430  0.159301
2015-02-01 00:04:30 -0.578135 -0.971852  0.821982
2015-02-01 00:04:40  0.283565  2.135879 -1.042403
2015-02-01 00:04:50 -0.784109 -0.117570 -1.167435
...                       ...       ...       ...
2015-02-01 23:55:00  0.363175  0.947950 -0.775411
2015-02-01 23:55:10  0.410046 -0.457922  0.393298
2015-02-01 23:55:20  0.359002  0.428456  0.906229
2015-02-01 23:55:30 -0.335531  1.356538 -0.803710
2015-02-01 23:55:40 -0.505116 -1.445344  0.891836
2015-02-01 23:55:50 -1.932230 -3.054799 -0.051480
2015-02-01 23:56:00  1.022455 -0.144292  0.271624
2015-02-01 23:56:10  1.068753 -0.586610 -0.072311
2015-02-01 23:56:20  0.300071 -0.204179  1.088093
2015-02-01 23:56:30 -0.644436  0.437335  0.237742
2015-02-01 23:56:40 -0.614467  0.423520  1.300499
2015-02-01 23:56:50 -0.449053  0.211087  1.008418
2015-02-01 23:57:00  2.484140  0.198591  0.514667
2015-02-01 23:57:10  0.931907 -0.238516 -1.769407
2015-02-01 23:57:20 -0.792557 -0.580176  0.819088
2015-02-01 23:57:30 -1.870576  0.329676 -1.062104
2015-02-01 23:57:40 -0.419681  0.074683  1.288079
2015-02-01 23:57:50  0.941890 -0.317659 -0.183119
2015-02-01 23:58:00 -1.240339 -1.208822 -2.162171
2015-02-01 23:58:10  0.858846 -1.166766  0.140590
2015-02-01 23:58:20  1.987892 -0.973216 -0.231579
2015-02-01 23:58:30  0.729943  0.339508 -0.536264
2015-02-01 23:58:40 -0.312751  0.326889 -1.316498
2015-02-01 23:58:50  0.625828  1.085248 -0.339544
2015-02-01 23:59:00 -1.332834  0.073811  1.010529
2015-02-01 23:59:10  0.724832 -0.261476 -1.546283
2015-02-01 23:59:20 -0.355200 -1.398765 -0.742190
2015-02-01 23:59:30 -0.557314 -0.343614  0.585135
2015-02-01 23:59:40 -2.588598  0.194828 -0.484697
2015-02-01 23:59:50  1.083405  0.740099  1.056089

[8640 rows x 3 columns]

                   A         B         C
2015-02-01  0.708854  1.222171  0.806216

In [81]:
SpotCrudePrices_2013.loc['2013-Q1', 'Dubai']
# display(SpotCrudePrices_2013.loc[:, 'Dubai'])
# SpotCrudePrices_2013['2013-Q1']

108.09999999999999

In [68]:
# SpotCrudePrices_2013['Brent Blend'] # Show error
# SpotCrudePrices_2013['2013-Q1'] # why diff with gapminder/python/ch02 
SpotCrudePrices_2013[SpotCrudePrices_2013.index == '2013-Q1'] # why diff with gapminder/python/ch02

         Dubai  UK_Brent  West_Texas_Intermediate
2013-Q1  108.1     112.9                     94.4

In [41]:
df = SpotCrudePrices_2013.get('Brent Blend'); df

In [42]:
df == None

True

In [43]:
SpotCrudePrices_2013.get('U.K. Brent')

2013-Q1    112.9
2013-Q2    103.0
2013-Q3    110.1
2013-Q4    109.4
Name: U.K. Brent, dtype: float64

In [44]:
SpotCrudePrices_2013.get('Brent Blend','N/A')

'N/A'

In [45]:
# SpotCrudePrices_2013['2013-Q1'] # Show error
# SpotCrudePrices_2013[SpotCrudePrices_2013=='2013-Q1']

In [46]:
dubaiPrices['2013-Q1']

108.09999999999999

In [47]:
dubaiPrices1[dubaiPrices1.index == '2013-Q1']

         Dubai
2013-Q1  108.1

Retrieve values directly as an attribute

In [48]:
SpotCrudePrices_2013.Dubai

2013-Q1    108.1
2013-Q2    100.8
2013-Q3    106.1
2013-Q4    106.7
Name: Dubai, dtype: float64

In [49]:
display(dubaiPrices)

2013-Q1    108.1
2013-Q2    100.8
2013-Q3    106.1
2013-Q4    106.7
Name: Dubai, dtype: float64

In [50]:
SpotCrudePrices_2013

         Dubai  U.K. Brent  West Texas Intermediate
2013-Q1  108.1       112.9                     94.4
2013-Q2  100.8       103.0                     94.2
2013-Q3  106.1       110.1                    105.8
2013-Q4  106.7       109.4                     97.4

Rename the column index names so they are all valid identifiers:

In [51]:
SpotCrudePrices_2013.columns=['Dubai','UK_Brent', 
                                       'West_Texas_Intermediate']
SpotCrudePrices_2013

         Dubai  UK_Brent  West_Texas_Intermediate
2013-Q1  108.1     112.9                     94.4
2013-Q2  100.8     103.0                     94.2
2013-Q3  106.1     110.1                    105.8
2013-Q4  106.7     109.4                     97.4

In [52]:
SpotCrudePrices_2013.West_Texas_Intermediate

2013-Q1     94.4
2013-Q2     94.2
2013-Q3    105.8
2013-Q4     97.4
Name: West_Texas_Intermediate, dtype: float64

Select by specifying column index number:

In [53]:
SpotCrudePrices_2013[[1]]

         UK_Brent
2013-Q1     112.9
2013-Q2     103.0
2013-Q3     110.1
2013-Q4     109.4

<h2>Range Slicing </h2>

Obtain the 1st 2 rows:

In [54]:
SpotCrudePrices_2013[:2]

         Dubai  UK_Brent  West_Texas_Intermediate
2013-Q1  108.1     112.9                     94.4
2013-Q2  100.8     103.0                     94.2

Obtain all rows starting from index 2:

In [55]:
SpotCrudePrices_2013[2:]

         Dubai  UK_Brent  West_Texas_Intermediate
2013-Q3  106.1     110.1                    105.8
2013-Q4  106.7     109.4                     97.4

Obtain rows at interval of 2, starting from row 0:

In [56]:
SpotCrudePrices_2013[::2]

         Dubai  UK_Brent  West_Texas_Intermediate
2013-Q1  108.1     112.9                     94.4
2013-Q3  106.1     110.1                    105.8

Reverse the order of rows in DataFrame:

In [57]:
SpotCrudePrices_2013[::-1]

         Dubai  UK_Brent  West_Texas_Intermediate
2013-Q4  106.7     109.4                     97.4
2013-Q3  106.1     110.1                    105.8
2013-Q2  100.8     103.0                     94.2
2013-Q1  108.1     112.9                     94.4

<h4>Series behavior </h4>

In [58]:
dubaiPrices=SpotCrudePrices_2013['Dubai']
dubaiPrices

2013-Q1    108.1
2013-Q2    100.8
2013-Q3    106.1
2013-Q4    106.7
Name: Dubai, dtype: float64

Obtain last 3 rows or all rows higher than the first.

In [85]:
dubaiPrices[1:]

2013-Q2    100.8
2013-Q3    106.1
2013-Q4    106.7
Name: Dubai, dtype: float64

Obtain all rows but the last:

In [86]:
dubaiPrices[:-1]

2013-Q1    108.1
2013-Q2    100.8
2013-Q3    106.1
Name: Dubai, dtype: float64

Reverse the rows:

In [87]:
dubaiPrices[::-1]

2013-Q4    106.7
2013-Q3    106.1
2013-Q2    100.8
2013-Q1    108.1
Name: Dubai, dtype: float64

## Label-oriented Indexing

Create a DataFrame:

In [88]:
NYC_SnowAvgsData={'Months' :          
                            ['January','February','March', 
                            'April', 'November', 'December'],
                            'Avg SnowDays' : [4.0,2.7,1.7,0.2,0.2,2.3],
                            'Avg Precip. (cm)' : [17.8,22.4,9.1,1.5,0.8,12.2],
                            'Avg Low Temp. (F)' : [27,29,35,45,42,32] }

In [89]:
NYC_SnowAvgsData

{'Avg Low Temp. (F)': [27, 29, 35, 45, 42, 32],
 'Avg Precip. (cm)': [17.8, 22.4, 9.1, 1.5, 0.8, 12.2],
 'Avg SnowDays': [4.0, 2.7, 1.7, 0.2, 0.2, 2.3],
 'Months': ['January', 'February', 'March', 'April', 'November', 'December']}

In [92]:
NYC_SnowAvgs=pd.DataFrame(NYC_SnowAvgsData,      
                      index=NYC_SnowAvgsData['Months'], 
                      columns=['Avg SnowDays','Avg Precip. (cm)','Avg Low Temp. (F)']
                         )
NYC_SnowAvgs

          Avg SnowDays  Avg Precip. (cm)  Avg Low Temp. (F)
January            4.0              17.8                 27
February           2.7              22.4                 29
March              1.7               9.1                 35
April              0.2               1.5                 45
November           0.2               0.8                 42
December           2.3              12.2                 32

Using single label with <em>.loc</em> operator:

In [95]:
display(NYC_SnowAvgs.loc['January'])

Avg SnowDays          4.0
Avg Precip. (cm)     17.8
Avg Low Temp. (F)    27.0
Name: January, dtype: float64

Using list or labels:

In [96]:
NYC_SnowAvgs.loc[['January','April']]

         Avg SnowDays  Avg Precip. (cm)  Avg Low Temp. (F)
January           4.0              17.8                 27
April             0.2               1.5                 45

Using label range:

In [97]:
NYC_SnowAvgs.loc['January':'March']

          Avg SnowDays  Avg Precip. (cm)  Avg Low Temp. (F)
January            4.0              17.8                 27
February           2.7              22.4                 29
March              1.7               9.1                 35

Row index must be specified first:

In [100]:
# NYC_SnowAvgs.loc['Avg SnowDays'] # Error

In [101]:
NYC_SnowAvgs.loc[:,'Avg SnowDays']

January     4.0
February    2.7
March       1.7
April       0.2
November    0.2
December    2.3
Name: Avg SnowDays, dtype: float64

Specific 'coordinate' selection

In [102]:
NYC_SnowAvgs.loc['March','Avg SnowDays']

1.7

Alternative style:

In [103]:
NYC_SnowAvgs.loc['March']['Avg SnowDays']

1.7

Using square brackets ( [ ] ):

In [104]:
NYC_SnowAvgs['Avg SnowDays']['March']

1.7

[ ] operator cannot be used to select rows directly.

In [106]:
# NYC_SnowAvgs['March']['Avg SnowDays']

Use <em>.loc</em> operator instead

In [107]:
NYC_SnowAvgs.loc['March']

Avg SnowDays          1.7
Avg Precip. (cm)      9.1
Avg Low Temp. (F)    35.0
Name: March, dtype: float64

<h3>Selection using a Boolean array</h3>

In [108]:
NYC_SnowAvgs.loc[NYC_SnowAvgs['Avg SnowDays']<1,:]

          Avg SnowDays  Avg Precip. (cm)  Avg Low Temp. (F)
April              0.2               1.5                 45
November           0.2               0.8                 42

In [109]:
SpotCrudePrices_2013.loc[:,SpotCrudePrices_2013.loc['2013-Q1']>110]

         UK_Brent
2013-Q1     112.9
2013-Q2     103.0
2013-Q3     110.1
2013-Q4     109.4

In [110]:
SpotCrudePrices_2013.loc['2013-Q1']>110

Dubai                      False
UK_Brent                    True
West_Texas_Intermediate    False
Name: 2013-Q1, dtype: bool

<h2>Integer-oriented Indexing</h2>

Create DataFrame

In [111]:
import scipy.constants as phys
import math

In [113]:
sci_values=pd.DataFrame([[math.pi, math.sin(math.pi), 
                                    math.cos(math.pi)],
                                   [math.e,math.log(math.e), 
                                    phys.golden],
                                   [phys.c,phys.g,phys.e],
                                   [phys.m_e,phys.m_p,phys.m_n]],
                          index=list(range(0,20,5)))
sci_values

               0             1             2
0   3.141593e+00  1.224647e-16 -1.000000e+00
5   2.718282e+00  1.000000e+00  1.618034e+00
10  2.997925e+08  9.806650e+00  1.602177e-19
15  9.109384e-31  1.672622e-27  1.674927e-27

Select first two rows using integer slicing:

In [114]:
sci_values.iloc[:2]

          0             1         2
0  3.141593  1.224647e-16 -1.000000
5  2.718282  1.000000e+00  1.618034

Select speed of light and acceleration of gravity in the 3rd row:

In [115]:
sci_values.iloc[2,0:2]

0    2.997925e+08
1    9.806650e+00
Name: 10, dtype: float64

Arguments to <em>.iloc</em> are strictly positional:

In [118]:
# sci_values.iloc[10] # Error

Use <em>.loc</em> instead:

In [119]:
sci_values.loc[10]

0    2.997925e+08
1    9.806650e+00
2    1.602177e-19
Name: 10, dtype: float64

Slice out specific row:

In [120]:
sci_values.iloc[2:3,:]

              0        1             2
10  299792458.0  9.80665  1.602177e-19

Obtain cross-section using integer position:

In [121]:
sci_values.iloc[3]

0    9.109384e-31
1    1.672622e-27
2    1.674927e-27
Name: 15, dtype: float64

Attempt to slice past the end of the array :

In [123]:
# sci_values.iloc[6,:]

Selection of scalar values and timings.

In [124]:
sci_values.iloc[3,0]

9.1093835599999998e-31

In [125]:
sci_values.iat[3,0]

9.1093835599999998e-31

In [126]:
%timeit sci_values.iloc[3,0]

The slowest run took 4.10 times longer than the fastest. This could mean that an intermediate result is being cached.
1000 loops, best of 3: 131 µs per loop

In [127]:
%timeit sci_values.iat[3,0]

The slowest run took 11.26 times longer than the fastest. This could mean that an intermediate result is being cached.
100000 loops, best of 3: 8.42 µs per loop

<h2>Mixed Indexing with the .ix operator</h2>

In [129]:
# stockIndexDataDF=pd.read_csv('data/stock_index_data.csv')

In [ ]:
stockIndexDataDF

In [ ]:
stockIndexDF=stockIndexDataDF.set_index('TradingDate')
stockIndexDF

<b>Using a single label:</b>

In [ ]:
stockIndexDF.ix['2014/01/30']

<b>Using list of labels</b>:

In [ ]:
stockIndexDF.ix[['2014/01/30']]

<b>Difference between using scalar indexer and list indexer:</b>

In [ ]:
type(stockIndexDF.ix['2014/01/30'])

In [ ]:
type(stockIndexDF.ix[['2014/01/30']])

<b>Using a label-based slice:</b>

In [ ]:
tradingDates=stockIndexDataDF.TradingDate

In [ ]:
stockIndexDF.ix[tradingDates[:3]]

<b>Using a single integer:</b>

In [ ]:
stockIndexDF.ix[0]

<b>Using a list of integers:</b>

In [ ]:
stockIndexDF.ix[[0,2]]

<b>Using an integer slice:</b>

In [ ]:
stockIndexDF.ix[1:3]

<b>Using a boolean array:</b>

In [ ]:
stockIndexDF.ix[stockIndexDF['Russell 2000']>1100]

<h2>Multi-Indexing</h2>

<b>Read stock index data:</b>

In [ ]:
sharesIndexDataDF=pd.read_csv('./data/stock_index_prices.csv')

In [ ]:
sharesIndexDataDF

<b>Create a MultiIndex :</b>

In [ ]:
sharesIndexDF=sharesIndexDataDF.set_index(['TradingDate','PriceType'])

In [ ]:
mIndex=sharesIndexDF.index; mIndex

In [ ]:
sharesIndexDF

<b>Apply get_level_values function:</b>

In [ ]:
mIndex.get_level_values(0)

In [ ]:
mIndex.get_level_values(1)

In [ ]:
mIndex.get_level_values(2)

<b>Hierarchical indexing with a multi-indexed DataFrame:</b>

In [ ]:
sharesIndexDF.ix['2014/02/21']

In [ ]:
sharesIndexDF.ix['2014/02/21','open']

<b>Slice using a multi-index:</b>

In [ ]:
sharesIndexDF.ix['2014/02/21':'2014/02/24']

<b>Try slicing at a lower level:</b>

In [ ]:
sharesIndexDF.ix[('2014/02/21','open'):('2014/02/24','open')]

Sort first before slicing with a MultiIndex:

In [ ]:
sharesIndexDF.sortlevel(0).ix[('2014/02/21','open'):('2014/02/24','open')]

In [ ]:
sharesIndexDF.sortlevel(0).ix[('2014/02/21','close'):('2014/02/24','close')]

<b>Pass list of tuples:</b>

In [ ]:
sharesIndexDF.sortlevel(0).ix[[('2014/02/21','open'),('2014/02/24','open')]]

<b>Use of the swaplevel function:</b>

In [ ]:
swappedDF=sharesIndexDF[:7].swaplevel(0, 1, axis=0)
swappedDF

In [ ]:
reorderedDF=sharesIndexDF[:7].reorder_levels(['PriceType', 
                                                      'TradingDate'], 
                                                       axis=0)
reorderedDF

<h2>Cross-sections</h2>

<b>xs( ) method</b>

In [ ]:
sharesIndexDF.xs('open',level='PriceType')

<b>swaplevel( ) alternative:</b>

In [ ]:
sharesIndexDF.swaplevel(0, 1, axis=0).ix['open']

<h1>Boolean Indexing</h2>

<B>Trading dates for which NASD closed above 4300:</b>

In [ ]:
sharesIndexDataDF

In [ ]:
sharesIndexDataDF.ix[(sharesIndexDataDF['PriceType']=='close') & \
                     (sharesIndexDataDF['Nasdaq']>4300) ]

In [ ]:
highSelection=sharesIndexDataDF['PriceType']=='high'
NasdaqHigh=sharesIndexDataDF['Nasdaq']<4300
sharesIndexDataDF.ix[highSelection & NasdaqHigh]

<h2>isin, any all methods</h2>

In [ ]:
stockSeries=pd.Series(['NFLX','AMZN','GOOG','FB','TWTR'])
stockSeries.isin(['AMZN','FB'])

In [ ]:
stockSeries[stockSeries.isin(['AMZN','FB'])]

In [130]:
australianMammals = {'kangaroo': {'Subclass':'marsupial', 
                              'Origin':'native'},
               'flying fox' : {'Subclass':'placental', 
                               'Origin':'native'},              
               'black rat': {'Subclass':'placental', 
                             'Origin':'invasive'},
               'platypus' : {'Subclass':'monotreme', 
                             'Origin':'native'},
               'wallaby' :  {'Subclass':'marsupial', 
                             'Origin':'native'},
        'palm squirrel' : {'Subclass':'placental', 
                           'Origin':'invasive'},
        'anteater':     {'Subclass':'monotreme', 
                         'Origin':'native'},
        'koala':        {'Subclass':'marsupial', 
                         'Origin':'native'}
}

In [131]:
ozzieMammalsDF=pd.DataFrame(australianMammals)

In [132]:
aussieMammalsDF=ozzieMammalsDF.T; aussieMammalsDF

                 Origin   Subclass
anteater         native  monotreme
black rat      invasive  placental
flying fox       native  placental
kangaroo         native  marsupial
koala            native  marsupial
palm squirrel  invasive  placental
platypus         native  monotreme
wallaby          native  marsupial

In [138]:
# jesse test for View
aussieMammalsDF.loc['anteater','Origin']='native';ozzieMammalsDF
# Yes, update aussieMammalsDF mean update ozzieMammalsDF too

,anteater,black rat,flying fox,kangaroo,koala,palm squirrel,platypus,wallaby
Origin,native,invasive,native,native,native,invasive,native,native
Subclass,monotreme,placental,placental,marsupial,marsupial,placental,monotreme,marsupial

In [139]:
aussieMammalsDF.isin({'Subclass':['marsupial'],'Origin':['native']})

              Origin Subclass
anteater        True    False
black rat      False    False
flying fox      True    False
kangaroo        True     True
koala           True     True
palm squirrel  False    False
platypus        True    False
wallaby         True     True

In [140]:
nativeMarsupials={'Subclass':['marsupial'],
                            'Origin':['native']}

In [141]:
nativeMarsupialMask=aussieMammalsDF.isin(nativeMarsupials).all(1)
aussieMammalsDF[nativeMarsupialMask]

          Origin   Subclass
kangaroo  native  marsupial
koala     native  marsupial
wallaby   native  marsupial

<h2>where() method</h2>

In [142]:
np.random.seed(100)
normvals=pd.Series([np.random.normal() for i in np.arange(10)])
normvals

0   -1.749765
1    0.342680
2    1.153036
3   -0.252436
4    0.981321
5    0.514219
6    0.221180
7   -1.070043
8   -0.189496
9    0.255001
dtype: float64

<b>Difference between using where() and standard boolean as filter on Series object</b>

In [143]:
normvals[normvals>0]

1    0.342680
2    1.153036
4    0.981321
5    0.514219
6    0.221180
9    0.255001
dtype: float64

In [144]:
normvals.where(normvals>0)

0         NaN
1    0.342680
2    1.153036
3         NaN
4    0.981321
5    0.514219
6    0.221180
7         NaN
8         NaN
9    0.255001
dtype: float64

<b>No Difference between using where() and standard boolean as filter on Pandas object</b>

In [145]:
np.random.seed(100) 
normDF=pd.DataFrame([[round(np.random.normal(),3) for i in np.arange(5)] for j in range(3)], 
             columns=['0','30','60','90','120'])
normDF

       0     30     60     90    120
0 -1.750  0.343  1.153 -0.252  0.981
1  0.514  0.221 -1.070 -0.189  0.255
2 -0.458  0.435 -0.584  0.817  0.673

In [146]:
normDF[normDF>0]

       0     30     60     90    120
0    NaN  0.343  1.153    NaN  0.981
1  0.514  0.221    NaN    NaN  0.255
2    NaN  0.435    NaN  0.817  0.673

In [147]:
normDF.where(normDF>0)

       0     30     60     90    120
0    NaN  0.343  1.153    NaN  0.981
1  0.514  0.221    NaN    NaN  0.255
2    NaN  0.435    NaN  0.817  0.673

<b>mask() is inverse of where()</b>

In [ ]:
normDF.mask(normDF>0)

<h2>Operations on Indexes</h2>

<b>Read in stock index data</b>

In [ ]:
stockIndexDataDF=pd.read_csv('./data/stock_index_data.csv')

In [ ]:
stockIndexDataDF

<b>Set the index of DataFrame to the TradingDate using set_index(..)</b>

In [ ]:
stockIndexDF=stockIndexDataDF.set_index('TradingDate')

In [ ]:
stockIndexDF

<b>reset_index reverses set_index:</b>

In [ ]:
stockIndexDF.reset_index()

This concludes the chapter.