In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from IPython.display import *


%matplotlib inline

In [2]:
# pd.date_range('2014-05-01','2014-05-07',freq=pd.datetools.bday)
# print(pd.date_range('2014-05-01','2014-05-07',freq=pd.datetools.bday))

pd.date_range('2014-05-01','2014-05-07',freq='B')
print(pd.date_range('2014-05-01','2014-05-07',freq='B'))

DatetimeIndex(['2014-05-01', '2014-05-02', '2014-05-05', '2014-05-06',
               '2014-05-07'],
              dtype='datetime64[ns]', freq='B')

In [3]:
date_stngs = ['2014-05-01','2014-05-02','2014-05-05','2014-05-06','2014-05-07']
#tradeDates=[pd.to_datetime(date) for date in date_stngs]
tradeDates=pd.to_datetime(pd.Series(date_stngs))

In [4]:
tradeDates

0   2014-05-01
1   2014-05-02
2   2014-05-05
3   2014-05-06
4   2014-05-07
dtype: datetime64[ns]

In [5]:
closingPrices=[531.35,527.93,527.81,515.14,509.96]

In [6]:
googClosingPrices=pd.DataFrame(data=closingPrices,
                                        columns=['closingPrice'], 
                                        index=tradeDates)

In [7]:
googClosingPrices

            closingPrice
2014-05-01        531.35
2014-05-02        527.93
2014-05-05        527.81
2014-05-06        515.14
2014-05-07        509.96

In [11]:
# import pandas.io.data as web
# The financial API provided by Yahoo was discontinued. This feature won't be provided anymore :
import pandas_datareader.data as web
import datetime
# goog = web.get_data_yahoo("GOOG", start=datetime.datetime(2014, 5, 1), end=datetime.datetime(2014, 5, 7))
goog = web.DataReader('ERIE',"google", start=datetime.datetime(2014, 5, 1), end=datetime.datetime(2014, 5, 7))

In [12]:
goog

             Open   High    Low  Close  Volume
Date
2014-05-01  71.39  71.77  70.69  71.50   57283
2014-05-02  72.00  74.89  71.91  74.88   64424
2014-05-05  74.69  75.91  73.75  75.74   69113
2014-05-06  75.92  75.92  74.43  75.02   50713
2014-05-07  75.40  75.50  74.77  75.44   48261

In [13]:
googFinalPrices=pd.DataFrame(goog['Close'], index=tradeDates)

In [14]:
googFinalPrices

            Close
2014-05-01  71.50
2014-05-02  74.88
2014-05-05  75.74
2014-05-06  75.02
2014-05-07  75.44

In [15]:
googClosingPricesCDays=googClosingPrices.asfreq('D')
googClosingPricesCDays

            closingPrice
2014-05-01        531.35
2014-05-02        527.93
2014-05-03           NaN
2014-05-04           NaN
2014-05-05        527.81
2014-05-06        515.14
2014-05-07        509.96

In [16]:
googClosingPricesCDays.isnull()

           closingPrice
2014-05-01        False
2014-05-02        False
2014-05-03         True
2014-05-04         True
2014-05-05        False
2014-05-06        False
2014-05-07        False

In [17]:
googClosingPricesCDays.notnull()

           closingPrice
2014-05-01         True
2014-05-02         True
2014-05-03        False
2014-05-04        False
2014-05-05         True
2014-05-06         True
2014-05-07         True

In [18]:
type(tradeDates)

pandas.core.series.Series

In [ ]:
tDates=tradeDates.copy()
tDates[1]=np.NaN
tDates[4]=np.NaN

In [ ]:
tDates

In [ ]:
FBVolume=[82.34,54.11,45.99,55.86,78.5]
TWTRVolume=[15.74,12.71,10.39,134.62,68.84]

In [ ]:
socialTradingVolume=pd.concat([pd.Series(FBVolume),
                               pd.Series(TWTRVolume),
                               tradeDates], axis=1,
                               keys=['FB','TWTR','TradeDate'])
socialTradingVolume

In [ ]:
socialTradingVolTS=socialTradingVolume.set_index('TradeDate')
socialTradingVolTS

In [ ]:
socialTradingVolTSCal=socialTradingVolTS.asfreq('D')
socialTradingVolTSCal

In [ ]:
socialTradingVolTSCal['FB']+socialTradingVolTSCal['TWTR']

In [ ]:
pd.Series([1.0,np.NaN,5.9,6])+pd.Series([3,5,2,5.6])

In [ ]:
pd.Series([1.0,25.0,5.5,6])/pd.Series([3,np.NaN,2,5.6])

In [ ]:
np.mean([1.0,np.NaN,5.9,6])

In [ ]:
np.sum([1.0,np.NaN,5.9,6])

In [ ]:
pd.Series([1.0,np.NaN,5.9,6]).sum()

In [ ]:
pd.Series([1.0,np.NaN,5.9,6]).mean()

In [ ]:
np.nanmean([1.0,np.NaN,5.9,6])

In [ ]:
np.nansum([1.0,np.NaN,5.9,6])

In [ ]:
socialTradingVolTSCal

In [ ]:
socialTradingVolTSCal.fillna(100)

In [ ]:
socialTradingVolTSCal.fillna(method='ffill')

In [ ]:
socialTradingVolTSCal.fillna(method='pad')

In [ ]:
socialTradingVolTSCal.fillna(method='bfill')

In [ ]:
socialTradingVolTSCal.dropna()

In [ ]:
socialTradingVolTSCal.dropna()

In [ ]:
pd.set_option('display.precision',4)
socialTradingVolTSCal.interpolate()

In [ ]:
ibmData=pd.read_csv('./data/ibm-common-stock-closing-prices-1959_1960.csv')

In [ ]:
ibmData.head()

In [ ]:
type(ibmData['TradeDate'])

In [ ]:
type(ibmData['TradeDate'][0])

In [ ]:
ibmData['TradeDate']=pd.to_datetime(ibmData['TradeDate'])
type(ibmData['TradeDate'][0])

In [ ]:
#Convert DataFrame to TimeSeries
#Resampling creates NaN rows for weekend dates, hence use dropna
ibmTS=ibmData.set_index('TradeDate').resample('D')['closingPrice'].dropna()
ibmTS

<h3>DateOffset and TimeDelta objects</h3>

<h3>DateOffset</h3>

In [ ]:
xmasDay=pd.datetime(2014,12,25)
xmasDay

In [ ]:
boxingDay=xmasDay+pd.DateOffset(days=1)
boxingDay

In [ ]:
today=pd.datetime.now()
today

In [ ]:
today+pd.DateOffset(weeks=1)

In [ ]:
today+2*pd.DateOffset(years=2, months=6)

In [ ]:
lastDay=pd.datetime(2013,12,31)

In [ ]:
from pandas.tseries.offsets import QuarterBegin
dtoffset=QuarterBegin()
lastDay+dtoffset

In [ ]:
dtoffset.rollforward(lastDay)

In [ ]:
firstQuarterLastDay=pd.datetime(2015,3,31)

In [ ]:
dtoffset.rollforward(firstQuarterLastDay)

In [ ]:
weekDelta=datetime.timedelta(weeks=1)
weekDelta

In [ ]:
today=pd.datetime.now()
today

In [ ]:
today+weekDelta

<b> 1 week from today</b>

In [ ]:
today+pd.DateOffset(weeks=1)

<b>5 years from today</b>

In [ ]:
today+2*pd.DateOffset(years=2, months=6)

<b>Roll forward functionality</b>

In [ ]:
lastDay=pd.datetime(2013,12,31)
from pandas.tseries.offsets import QuarterBegin
dtoffset=QuarterBegin()
lastDay+dtoffset

In [ ]:
dtoffset.rollforward(lastDay)

<h3>TimeDelta</h3>

In [ ]:
weekDelta=datetime.timedelta(weeks=1)
weekDelta

In [ ]:
today=pd.datetime.now()
today

In [ ]:
today+weekDelta

<h2>Time series-related instance methods<h2>
<h3>Shifting / lagging</h3>

In [ ]:
ibmTS.shift(3)

<b>Shift only on business days</b>

In [ ]:
ibmTS.shift(3, freq=pd.datetools.bday)

<h3>Frequency Conversion</h3>

In [ ]:
ibmTS.asfreq('BM')

In [ ]:
ibmTS.asfreq('H')

<h3>Re-sampling of data</h3>

In [ ]:
import pandas.io.data as web
import datetime

In [ ]:
googTickData=web.get_data_yahoo("GOOG", 
                      start=datetime.datetime(2014, 5, 27), 
                      end=datetime.datetime(2014, 5, 27))

In [ ]:
googTickData.head()

In [ ]:
googTickData=pd.read_csv('./data/GOOG_tickdata_20140527.csv')
googTickData.head()

In [ ]:
googTickData['tstamp']=pd.to_datetime(googTickData['Timestamp'],unit='s',utc=True)

In [ ]:
googTickData.head()

<b>Make the tstamp column the index, while also eliminating the epoch Timestamp column:</b>

In [ ]:
googTickTS=googTickData.set_index('tstamp')
googTickTS=googTickTS.drop('Timestamp',axis=1)
googTickTS.head()

<b>Convert to US Eastern standard time:</b>

In [ ]:
googTickTS.index=googTickTS.index.tz_localize('UTC').tz_convert('US/Eastern')
googTickTS.head()

In [ ]:
googTickTS.tail()

In [ ]:
len(googTickTS)

<b>Using downsampling to obtain a snapshot every 5 min instead of every minute</b>

In [ ]:
googTickTS.resample('5Min').head(6)

In [ ]:
googTickTS.resample('10Min', how=np.min).head(4)

<b>Specify whether right or left interval closed</b>

In [ ]:
pd.set_option('display.precision',5)
googTickTS.resample('5Min', closed='right').tail(3)

In [ ]:
googTickTS[:3].resample('30s', fill_method='ffill')

In [ ]:
googTickTS[:3].resample('30s', fill_method='bfill')

In [ ]:
googTickTS.resample('7T30S').head(5)

<h2>Timeseries Concepts and Datatypes</h2>
<h3>Period and PeriodIndex</h3>

In [ ]:
# May 2014 period
pd.Period('2014', freq='A-MAY')

In [ ]:
pd.Period('06/11/2014')

In [ ]:
pd.Period('11/11/1918 11:00',freq='H')

In [ ]:
pd.Period('11/11/1918 11:00',freq='H')

<b>Add integer to Period</b>

In [ ]:
pd.Period('06/30/2014')+4

In [ ]:
pd.Period('11/11/1918 11:00',freq='H') - 48

<h4>PeriodIndex</h4>

In [ ]:
perRng=pd.period_range('02/01/2014','02/06/2014',freq='D')
perRng

In [ ]:
type(perRng[:2])

In [ ]:
perRng[:2]

In [ ]:
JulyPeriod=pd.PeriodIndex(['07/01/2014','07/31/2014'], freq='D')
JulyPeriod

<h3>Conversion between Time Series data types</h3>

In [ ]:
worldCupFinal=pd.to_datetime('07/13/2014')
worldCupFinal

In [ ]:
worldCupFinal.to_period('D')

In [ ]:
worldCupKickoff=pd.Period('06/12/2014','D')
worldCupKickoff

In [ ]:
worldCupKickoff.to_timestamp()

In [ ]:
worldCupDays=pd.date_range('06/12/2014',periods=32,   
                                      freq='D')
worldCupDays

In [ ]:
worldCupDays.to_period()

<h2>Plotting Using matplotlib</h2>

In [ ]:
X = np.linspace(-np.pi, np.pi, 256,endpoint=True)

In [ ]:
f,g = np.cos(X)+np.sin(X), np.sin(X)-np.cos(X)

In [ ]:
f_ser=pd.Series(f)
g_ser=pd.Series(g)

In [ ]:
plotDF=pd.concat([f_ser,g_ser],axis=1)
plotDF.index=X
plotDF.columns=['sin(x)+cos(x)','sin(x)-cos(x)']
plotDF.head()

In [ ]:
plotDF.plot()
plt.show()

In [ ]:
plotDF.columns=['f(x)','g(x)']
plotDF.plot(title='Plot of f(x)=sin(x)+cos(x), \n         g(x)=sinx(x)-cos(x)')
plt.show()

<b>Plot functions separately</b>

In [ ]:
plotDF.plot(subplots=True, figsize=(6,6))
plt.show()