In [23]:
import numpy as np
import pandas as pd

from IPython.display import *

<h1>Grouping of Data</h1>

<h2>groupby Operation</h2>

<b>Read in and examine data </b>

In [ ]:
# Make Jesse own table
import requests
import pandas as pd

In [ ]:
url = 'https://en.wikipedia.org/wiki/UEFA_Champions_League'
html = requests.get(url).content
df_list = pd.read_html(html)
# df = df_list[-1]
for idx, df1 in enumerate(df_list):
    print('Table:', idx)
    display(df1.head())
#     filename = 'data/{}.csv'.format(idx)
#     print(filename)
#     df.to_csv(filename)

In [24]:
uefaDF=pd.read_csv('./data/euro_winners.csv')

In [25]:
uefaDF.head()

,Season,Nation,Winners,Score,Runners-up,Runner-UpNation,Venue,Attendance
0,1955–56,Spain,Real Madrid,4–3,Stade de Reims,France,"Parc des Princes,Paris",38239
1,1956–57,Spain,Real Madrid,2–0,Fiorentina,Italy,"Santiago Bernabéu Stadium, Madrid",124000
2,1957–58,Spain,Real Madrid,3–2,Milan,Italy,"Heysel Stadium,Brussels",67000
3,1958–59,Spain,Real Madrid,2–0,Stade de Reims,France,"Neckarstadion,Stuttgart",72000
4,1959–60,Spain,Real Madrid,7–3,Eintracht Frankfurt,Germany,"Hampden Park,Glasgow",127621

<b>Rank nations by number of club championships</b>

In [26]:
nationsGrp =uefaDF.groupby('Nation')
type(nationsGrp)

pandas.core.groupby.DataFrameGroupBy

In [28]:
display(nationsGrp.groups)

{'England': Int64Index([12, 21, 22, 23, 24, 25, 26, 28, 43, 49, 52, 56], dtype='int64'),
 'France': Int64Index([37], dtype='int64'),
 'Germany': Int64Index([18, 19, 20, 27, 41, 45, 57], dtype='int64'),
 'Italy': Int64Index([7, 8, 9, 13, 29, 33, 34, 38, 40, 47, 51, 54], dtype='int64'),
 'Netherlands': Int64Index([14, 15, 16, 17, 32, 39], dtype='int64'),
 'Portugal': Int64Index([5, 6, 31, 48], dtype='int64'),
 'Romania': Int64Index([30], dtype='int64'),
 'Scotland': Int64Index([11], dtype='int64'),
 'Spain': Int64Index([0, 1, 2, 3, 4, 10, 36, 42, 44, 46, 50, 53, 55], dtype='int64'),
 'Yugoslavia': Int64Index([35], dtype='int64')}

In [33]:
nationsGrp.count()

,Season,Winners,Score,Runners-up,Runner-UpNation,Venue,Attendance
Nation,,,,,,,
England,12,12,12,12,12,12,12
France,1,1,1,1,1,1,1
Germany,7,7,7,7,7,7,7
Italy,12,12,12,12,12,12,12
Netherlands,6,6,6,6,6,6,6
Portugal,4,4,4,4,4,4,4
Romania,1,1,1,1,1,1,1
Scotland,1,1,1,1,1,1,1
Spain,13,13,13,13,13,13,13
Yugoslavia,1,1,1,1,1,1,1

<b>Obtain number of groups</b>

In [32]:
len(nationsGrp.groups)

10

<b>Display the number of wins by each nation in descending order:</b>

In [34]:
nationWins=nationsGrp.size()

In [36]:
# nationWins.sort(ascending=False);nationWins
nationWins.sort_values(ascending=False, inplace=True);nationWins

Nation
Spain          13
England        12
Italy          12
Germany         7
Netherlands     6
Portugal        4
France          1
Romania         1
Scotland        1
Yugoslavia      1
dtype: int64

In [38]:
winnersGrp=uefaDF.groupby(['Nation','Winners'])
clubWins=winnersGrp.size()
clubWins.sort_values(ascending=False, inplace=True)
clubWins

Nation       Winners
Spain        Real Madrid          9
Italy        Milan                7
Germany      Bayern Munich        5
England      Liverpool            5
Spain        Barcelona            4
Netherlands  Ajax                 4
England      Manchester United    3
Italy        Internazionale       3
             Juventus             2
Portugal     Porto                2
             Benfica              2
England      Nottingham Forest    2
             Chelsea              1
France       Marseille            1
Yugoslavia   Red Star Belgrade    1
Germany      Borussia Dortmund    1
             Hamburg              1
Netherlands  Feyenoord            1
             PSV Eindhoven        1
Romania      Steaua Bucure?ti     1
Scotland     Celtic               1
England      Aston Villa          1
dtype: int64

<b>Read in goal stats dataset</b>

In [40]:
goalStatsDF=pd.read_csv('./data/goal_stats_euro_leagues_2012-13.csv')
goalStatsDF=goalStatsDF.set_index('Month')

<b>Snapshot of dataset:</b>

In [41]:
goalStatsDF.head(3)

                     Stat   EPL  La Liga  Serie A  Bundesliga
Month
08/01/2012  MatchesPlayed  20.0       20     10.0        10.0
09/01/2012  MatchesPlayed  38.0       39     50.0        44.0
10/01/2012  MatchesPlayed  31.0       31     39.0        27.0

In [42]:
goalStatsDF.tail(3)

                   Stat    EPL  La Liga  Serie A  Bundesliga
Month
04/01/2013  GoalsScored  105.0      127    102.0       104.0
05/01/2013  GoalsScored   96.0      109    102.0        92.0
06/01/2013  GoalsScored    NaN       80      NaN         NaN

<b>Display the stats, but by grouped year instead. </b>

In [43]:
goalStatsGroupedByYear = goalStatsDF.groupby(lambda Month: Month.split('/')[2])

In [46]:
for name, group in goalStatsGroupedByYear:
    	      display(name)
    	      display(group)

'2012'

                     Stat    EPL  La Liga  Serie A  Bundesliga
Month
08/01/2012  MatchesPlayed   20.0       20     10.0        10.0
09/01/2012  MatchesPlayed   38.0       39     50.0        44.0
10/01/2012  MatchesPlayed   31.0       31     39.0        27.0
11/01/2012  MatchesPlayed   50.0       41     42.0        46.0
12/01/2012  MatchesPlayed   59.0       39     39.0        26.0
08/01/2012    GoalsScored   57.0       60     21.0        23.0
09/01/2012    GoalsScored  111.0      112    133.0       135.0
10/01/2012    GoalsScored   95.0       88     97.0        77.0
11/01/2012    GoalsScored  121.0      116    120.0       137.0
12/01/2012    GoalsScored  183.0      109    125.0        72.0

'2013'

                     Stat    EPL  La Liga  Serie A  Bundesliga
Month
01/01/2013  MatchesPlayed   42.0       40     40.0        18.0
02/01/2013  MatchesPlayed   30.0       40     40.0        36.0
03/01/2013  MatchesPlayed   35.0       38     39.0        36.0
04/01/2013  MatchesPlayed   42.0       42     41.0        36.0
05/01/2013  MatchesPlayed   33.0       40     40.0        27.0
06/02/2013  MatchesPlayed    NaN       10      NaN         NaN
01/01/2013    GoalsScored  117.0      121    104.0        51.0
02/01/2013    GoalsScored   87.0      110    100.0       101.0
03/01/2013    GoalsScored   91.0      101     99.0       106.0
04/01/2013    GoalsScored  105.0      127    102.0       104.0
05/01/2013    GoalsScored   96.0      109    102.0        92.0
06/01/2013    GoalsScored    NaN       80      NaN         NaN

<b>Group by individual month using level arg:</b>

In [47]:
goalStatsGroupedByMonth = goalStatsDF.groupby(level=0)

In [53]:
goalStatsGroupedByMonth

In [54]:
for name, group in goalStatsGroupedByMonth:
    #print name 
    display (group)
#     print ("\n")

                     Stat    EPL  La Liga  Serie A  Bundesliga
Month
01/01/2013  MatchesPlayed   42.0       40     40.0        18.0
01/01/2013    GoalsScored  117.0      121    104.0        51.0

                     Stat   EPL  La Liga  Serie A  Bundesliga
Month
02/01/2013  MatchesPlayed  30.0       40     40.0        36.0
02/01/2013    GoalsScored  87.0      110    100.0       101.0

                     Stat   EPL  La Liga  Serie A  Bundesliga
Month
03/01/2013  MatchesPlayed  35.0       38     39.0        36.0
03/01/2013    GoalsScored  91.0      101     99.0       106.0

                     Stat    EPL  La Liga  Serie A  Bundesliga
Month
04/01/2013  MatchesPlayed   42.0       42     41.0        36.0
04/01/2013    GoalsScored  105.0      127    102.0       104.0

                     Stat   EPL  La Liga  Serie A  Bundesliga
Month
05/01/2013  MatchesPlayed  33.0       40     40.0        27.0
05/01/2013    GoalsScored  96.0      109    102.0        92.0

                   Stat  EPL  La Liga  Serie A  Bundesliga
Month
06/01/2013  GoalsScored  NaN       80      NaN         NaN

                     Stat  EPL  La Liga  Serie A  Bundesliga
Month
06/02/2013  MatchesPlayed  NaN       10      NaN         NaN

                     Stat   EPL  La Liga  Serie A  Bundesliga
Month
08/01/2012  MatchesPlayed  20.0       20     10.0        10.0
08/01/2012    GoalsScored  57.0       60     21.0        23.0

                     Stat    EPL  La Liga  Serie A  Bundesliga
Month
09/01/2012  MatchesPlayed   38.0       39     50.0        44.0
09/01/2012    GoalsScored  111.0      112    133.0       135.0

                     Stat   EPL  La Liga  Serie A  Bundesliga
Month
10/01/2012  MatchesPlayed  31.0       31     39.0        27.0
10/01/2012    GoalsScored  95.0       88     97.0        77.0

                     Stat    EPL  La Liga  Serie A  Bundesliga
Month
11/01/2012  MatchesPlayed   50.0       41     42.0        46.0
11/01/2012    GoalsScored  121.0      116    120.0       137.0

                     Stat    EPL  La Liga  Serie A  Bundesliga
Month
12/01/2012  MatchesPlayed   59.0       39     39.0        26.0
12/01/2012    GoalsScored  183.0      109    125.0        72.0

<b>group by multiple keys:</b>

In [55]:
goalStatsDF=goalStatsDF.reset_index()
goalStatsDF=goalStatsDF.set_index(['Month','Stat'])

In [60]:
monthStatGroup=goalStatsDF.groupby(level=['Month','Stat'])
for name, group in monthStatGroup:
          print(name)
          display(group)

('01/01/2013', 'GoalsScored')

                          EPL  La Liga  Serie A  Bundesliga
Month      Stat
01/01/2013 GoalsScored  117.0      121    104.0        51.0

('01/01/2013', 'MatchesPlayed')

                           EPL  La Liga  Serie A  Bundesliga
Month      Stat
01/01/2013 MatchesPlayed  42.0       40     40.0        18.0

('02/01/2013', 'GoalsScored')

                         EPL  La Liga  Serie A  Bundesliga
Month      Stat
02/01/2013 GoalsScored  87.0      110    100.0       101.0

('02/01/2013', 'MatchesPlayed')

                           EPL  La Liga  Serie A  Bundesliga
Month      Stat
02/01/2013 MatchesPlayed  30.0       40     40.0        36.0

('03/01/2013', 'GoalsScored')

                         EPL  La Liga  Serie A  Bundesliga
Month      Stat
03/01/2013 GoalsScored  91.0      101     99.0       106.0

('03/01/2013', 'MatchesPlayed')

                           EPL  La Liga  Serie A  Bundesliga
Month      Stat
03/01/2013 MatchesPlayed  35.0       38     39.0        36.0

('04/01/2013', 'GoalsScored')

                          EPL  La Liga  Serie A  Bundesliga
Month      Stat
04/01/2013 GoalsScored  105.0      127    102.0       104.0

('04/01/2013', 'MatchesPlayed')

                           EPL  La Liga  Serie A  Bundesliga
Month      Stat
04/01/2013 MatchesPlayed  42.0       42     41.0        36.0

('05/01/2013', 'GoalsScored')

                         EPL  La Liga  Serie A  Bundesliga
Month      Stat
05/01/2013 GoalsScored  96.0      109    102.0        92.0

('05/01/2013', 'MatchesPlayed')

                           EPL  La Liga  Serie A  Bundesliga
Month      Stat
05/01/2013 MatchesPlayed  33.0       40     40.0        27.0

('06/01/2013', 'GoalsScored')

                        EPL  La Liga  Serie A  Bundesliga
Month      Stat
06/01/2013 GoalsScored  NaN       80      NaN         NaN

('06/02/2013', 'MatchesPlayed')

                          EPL  La Liga  Serie A  Bundesliga
Month      Stat
06/02/2013 MatchesPlayed  NaN       10      NaN         NaN

('08/01/2012', 'GoalsScored')

                         EPL  La Liga  Serie A  Bundesliga
Month      Stat
08/01/2012 GoalsScored  57.0       60     21.0        23.0

('08/01/2012', 'MatchesPlayed')

                           EPL  La Liga  Serie A  Bundesliga
Month      Stat
08/01/2012 MatchesPlayed  20.0       20     10.0        10.0

('09/01/2012', 'GoalsScored')

                          EPL  La Liga  Serie A  Bundesliga
Month      Stat
09/01/2012 GoalsScored  111.0      112    133.0       135.0

('09/01/2012', 'MatchesPlayed')

                           EPL  La Liga  Serie A  Bundesliga
Month      Stat
09/01/2012 MatchesPlayed  38.0       39     50.0        44.0

('10/01/2012', 'GoalsScored')

                         EPL  La Liga  Serie A  Bundesliga
Month      Stat
10/01/2012 GoalsScored  95.0       88     97.0        77.0

('10/01/2012', 'MatchesPlayed')

                           EPL  La Liga  Serie A  Bundesliga
Month      Stat
10/01/2012 MatchesPlayed  31.0       31     39.0        27.0

('11/01/2012', 'GoalsScored')

                          EPL  La Liga  Serie A  Bundesliga
Month      Stat
11/01/2012 GoalsScored  121.0      116    120.0       137.0

('11/01/2012', 'MatchesPlayed')

                           EPL  La Liga  Serie A  Bundesliga
Month      Stat
11/01/2012 MatchesPlayed  50.0       41     42.0        46.0

('12/01/2012', 'GoalsScored')

                          EPL  La Liga  Serie A  Bundesliga
Month      Stat
12/01/2012 GoalsScored  183.0      109    125.0        72.0

('12/01/2012', 'MatchesPlayed')

                           EPL  La Liga  Serie A  Bundesliga
Month      Stat
12/01/2012 MatchesPlayed  59.0       39     39.0        26.0

<h3>Using groupby with a MultiIndex</h3>

<b>Read in the goal stats DataFrame again:</b>

In [ ]:
goalStatsDF3=pd.read_csv('./data/goal_stats_euro_leagues_2012-13.csv')
goalStatsDF3=goalStatsDF3.set_index(['Month','Stat'])

In [ ]:
print goalStatsDF3.head(3)
print goalStatsDF3.tail(3)

<b>Compute the total number of goals scored and total matches played for the entire season for each league.</b>

In [ ]:
grouped3=goalStatsDF3.groupby(level='Stat')
grouped3.sum()

<b>Use sum directly but pass level as parameter to achieve same result.</b>

In [ ]:
goalStatsDF3.sum(level='Stat')

<b>Calculate goals per game ratio</b>:

In [ ]:
totalsDF=grouped3.sum()
totalsDF.ix['GoalsScored']/totalsDF.ix['MatchesPlayed']

In [ ]:
gpg=totalsDF.ix['GoalsScored']/totalsDF.ix['MatchesPlayed']
goalsPerGameDF=pd.DataFrame(gpg).T
goalsPerGameDF

In [ ]:
goalsPerGameDF=goalsPerGameDF.rename(index={0:'GoalsPerGame'}) 
goalsPerGameDF

<b>Format and append goalsPerGameDF to original DataFrame:</b>

In [ ]:
pd.options.display.float_format='{:.2f}'.format 
totalsDF.append(goalsPerGameDF)

<h3>Using the aggregate method</h3>

In [ ]:
pd.options.display.float_format=None
grouped3.aggregate(np.sum)

<h3>Applying multiple functions</h3>

<b>Specify list of functions to be applied to each column:</b>

In [ ]:
grouped3.aggregate([np.sum, np.mean,np.size])

<b>Grouped Series</b>

In [ ]:
nationsGrp['Attendance'].agg({'Total':np.sum, 'Average':np.mean, 'Deviation':np.std})

<h3>The transform( ) method</h3>

In [ ]:
goalStatsDF

<b>DataFrame of goals scored across 4 Euro leagues 2012-2013</b>

In [ ]:
goalStatsDF2=pd.read_csv('./data/goal_stats_euro_leagues_2012-13.csv')
goalStatsDF2=goalStatsDF2.set_index(['Month'])
goalsScoredDF=goalStatsDF2.ix[goalStatsDF2['Stat']=='GoalsScored']

goalsScoredDF.iloc[:,1:]

<b>Find mean of goals scored for each league, grouped by year:</b>

In [ ]:
goalsScoredPerYearGrp=goalsScoredDF.groupby(lambda Month: Month.split('/')[2])
goalsScoredPerYearGrp.mean()

<b>Count of months of football for each year</b>

In [ ]:
goalsScoredPerYearGrp.count()

<b>Define fill function and fill in missing values</b>

In [ ]:
fill_fcn = lambda x: x.fillna(x.mean())
trans = goalsScoredPerYearGrp.transform(fill_fcn)
tGroupedStats = trans.groupby(lambda Month:   Month.split('/')[2])
tGroupedStats.mean()

<b>Display count on filled in data:</b>

In [ ]:
tGroupedStats.count()

<h3>Filtering</h3>

<b>Display which months of the season had more than 100 goals scored in each of the 4 leagues </b>

In [ ]:
#goalsScoredDF=goalsScoredDF.iloc[:,1:]
goalsScoredDF

In [ ]:
goalsScoredDF.groupby(level='Month').filter(lambda x: 
                                            np.all([x[col] > 100 for col in goalsScoredDF.columns]))

<h1>Merging and Joining</h1>

In [ ]:
stockDataDF=pd.read_csv('./data/tech_stockprices.csv').set_index(['Symbol']);stockDataDF

<h3>The concat function</h3>

<b>Obtain various slices of the data</b>

In [ ]:
A=stockDataDF.ix[:4, ['Closing price', 'EPS']]; A

In [ ]:
B=stockDataDF.ix[2:-2, ['P/E']];B

In [ ]:
C=stockDataDF.ix[1:5, ['Market Cap(B)']];C

<b>Perform concatenation, specifying outer join:</b>

In [ ]:
pd.concat([A,B,C],axis=1) # outer join

<b>Perform concatenation, specifying inner join:</b>

In [ ]:
pd.concat([A,B,C],axis=1, join='inner') # Inner join

<b>Join on specific index from original DataFrame:</b>

In [ ]:
pd.concat([A,B,C], axis=1, join_axes=[stockDataDF.index])

<b>Another case illustrating concat</b>

In [ ]:
np.random.seed(100)
normDF=pd.DataFrame(np.random.randn(3,4));normDF

In [ ]:
binomDF=pd.DataFrame(np.random.binomial(100,0.5,(3,4)));binomDF

In [ ]:
poissonDF=pd.DataFrame(np.random.poisson(100,(3,4)));poissonDF

In [ ]:
rand_distribs=[normDF,binomDF,poissonDF]

In [ ]:
rand_distribsDF=pd.concat(rand_distribs,keys=['Normal', 'Binomial', 'Poisson']);rand_distribsDF

<h3>Using append</h3>

In [ ]:
stockDataA=stockDataDF.ix[:2,:3]
stockDataA

In [ ]:
stockDataB=stockDataDF[2:]
stockDataB

In [ ]:
stockDataA.append(stockDataB)

In [ ]:
stockDataA.append(stockDataB).reindex_axis(stockDataDF.columns, axis=1)

<h3>Appending a single row to a DataFrame</h3>

In [ ]:
algos={'search':['DFS','BFS','Binary Search','Linear'],
        'sorting': ['Quicksort','Mergesort','Heapsort','Bubble Sort'],
       'machine learning':['RandomForest','K Nearest Neighbor','Logistic Regression','K-Means Clustering']}
algoDF=pd.DataFrame(algos);algoDF

In [ ]:
moreAlgos={'search': 'ShortestPath'  , 'sorting': 'Insertion Sort',
            'machine learning': 'Linear Regression'}
algoDF.append(moreAlgos,ignore_index=True)

<h2>SQL-Like Merging/Joining of DataFrame objects</h2>

<b>Read stock data into DataFrame</b>

In [ ]:
USIndexDataDF=pd.read_csv('./data/us_index_data.csv')
USIndexDataDF